{% load version_number %} {% load site_info %} {% load i18n %}

<div class="footer-wrap">
  <div class="row">
    <div class="col-md-4 version">
      <div>
        <i class="icon-wrench"></i> {% trans "Version" %} {% version_number %}
        {% site_info %}
      </div>
    </div>
    <div class="col-md-4 disclaimer">
      <div></div>
      {% if request.user.is_authenticated and cic_system_role %}
      <div>
        <a href="{% url 'copyright' %}">Data set Copyright</a>
      </div>
      {% endif %}
    </div>

    <div class="col-md-4 authorised">
      <div>
        {% trans "Created by" %}:
        <a href="">NovelTech</a><br />
      </div>
    </div>
  </div>
</div>
